body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 20px;
}

.activitie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 5px;
    border: 1px solid white;
}

.activitie .activitie-title{
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid white;
}

.container a{
    color: aquamarine;
    margin-block: 5px;
}

.home{
    width: 100%;
    display: flex;
    justify-content: end;
}

.container-button{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    margin: 20px 0px 10px 0px;
}